.prediction{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.safeareas{
    width: 80%;
    height: 340px;
    background-color: beige;
    margin-bottom: 1.8rem ;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    outline: none;
    border: none;
    overflow: hidden;
}

.heading{
    padding: 4.5px 0px;
    background: rgb(16, 16, 161);
    color: white;
    font-weight: bold;
    text-align: center;
    height: 40px;
    font-size: 1.8rem;
}

.alert-notifcation{    
    width: 80%;
    height: 240px;
    background-color: beige;
    border-radius: 20px;
    margin-bottom: 1.8rem ;
    outline: none;
    border: none;
    overflow: hidden;
}

.Emergency{    
    width: 80%;
    height: 240px;
    background-color: beige;
    border-radius: 20px;
    outline: none;
    border: none;
    overflow: hidden;
}

.guidelines {
    overflow: hidden;
    height: 200px; /* Set the height as per your design */
    position: relative;
    font-weight: 600;
    font-size: large;
  }
  
  .guidelines ul {
    margin: 0 20px;
    padding: 0;
  list-style-type: disc;
  position: absolute;
  width: 100%;
  top: 0;
  animation: scroll 30s linear infinite;
  }
  

  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  
  .guidelines li {
    padding: 10px 0; /* Adjust padding as needed */
    font-size: 1em;
  }